include pug/_mixins
<!DOCTYPE html>
html(lang="ru_RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="Только для женщин. Совершенно секретно. «О чем молчат мужчины» бесплатный онлайн-интенсив")
		meta(name="keywords" content="")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		link(rel="icon" type="image/x-icon" href="i/favicon.png")
		link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
		link(rel="appendix" href="/sitemap/")
		link(rel="author" href="Master Vision")
		title О чем молчат мужчины» бесплатный онлайн-интенсив
		link(rel="stylesheet", href="css/styles.css")
	body
		include pug/header
		include pug/first_section
		include pug/second_screen
		include pug/third_screen
		#plan
			include pug/fourth_screen
			include pug/fifth_screen
			include pug/bonus
			include pug/sixth_screen
			include pug/bonus_2
			include pug/seventh_screen
			include pug/bonus_3
			include pug/eighth_screen
			include pug/bonus_4
		#author
			include pug/author
			include pug/certificates
		include pug/about_evelina
		#you_get
			include pug/you_get_bullets
		#must_go
			include pug/must_go_block
		include pug/how
		#testimonials
			include pug/video_testimonials
			include pug/slider
		include pug/footer
		include pug/scripts
	