// Об Эвелине
section#guestess
	.container
		h4 Гостья интенсива
		img(src="img/divider.png", alt="Разделитель").divider
		.guestess_wrapper
			img(src="img/evelina_about.jpg", alt="Гостья").right
			.about_evelina
				h6 Эвелина Блёданс
				p 
					span.big_letter Р
					| оссийская актриса театра и кино, певица, телеведущая
				p В 1990 году окончила актёрский факультет ЛГИТМиКа (курс Игоря Владимирова, Народного артиста СССР), Театральный центр классического американского мюзикла имени Юджина О’Нила (США).
				p С 1991 по 2005 годы являлась участницей комик-труппы «Маски».
				p В 1999 году работала в мюзикле «Метро» и спектакле «Даная».
				p С октября 2005 года вела телевизионное шоу «Сексуальная революция с Эвелиной Блёданс» на интерактивном телеканале для женщин «ТДК».
				p С февраля 2007 года - ведущая программы «Очевидец. Самое смешное» на канале «РЕН ТВ».
				p С ноября 2008 года по март 2009 года принимала участие в реалити-шоу «Последний герой - 6: Забытые в раю» на Первом канале.
				p С августа 2009 года вела музыкально-юмористическое шоу «Всё по-нашему!» на телеканале «СТС».
				p В 2009 году выпустила сольный альбом «Главное - любить!».
				p С 2009 года играет главную роль в антрепризе Станислава Садальского «Декоратор любви».
				p С 1 марта 2011 года ведёт шоу «Любовь с первого взгляда» на телеканале «MTV».
				p С 4 ноября 2012 года ведёт шоу «Они» на казахстанском республиканском телеканале «НТК».
				p С марта 2013 года ведёт телевизионное шоу «Человек-невидимка» на телеканале «ТВ-3».
				p Осенью 2014 года была участницей шоу «Империя Иллюзий» на телеканале «СТС». 
				p В 2015 году стала участницей шоу «Один в один». С февраля 2015 года - ведущая шоу «Всё будет хорошо» на телеканале НТВ.
				p В марте 2015 года снялась в фильме «SOS, Дед Мороз, или Всё сбудется!», который вышел в широкий прокат в декабре 2015 года.
				p 12 марта 2016 года в четвёртом сезоне «Один в один. Битва сезонов» выступила с номером-пародией на Анну Семенович с песней «На моря».
				p 2017 - съемки в сериале "Французская кулинария".
			.clfix