// Автор
section#aurhor
	.container
		h4 Автор и ведущая
		img(src="img/divider.png", alt="Разделитель").divider
		.author_wrapper
			img(src="img/author.jpg", alt="Автор и ведущая").left
			.about
				h6 Жанна Абрамова
					img(src="img/academy_logo.jpg", alt="Логотип академии")#academy_logo
				p 
					span.big_letter м
					| астер практической психологии и технологий осознанности, эксперт в области отношений между мужчиной и женщиной, коуч, системный расстановщик, процессор техники РПТ, специалист по метафорическим картам, эксперт TV-радио-шоу, информационных передач, блоггер, автор тренинговых программ и книг по женской психологии, основатель центра он-лайн образования "Академия семьи и брака"
				p Жанна более 10 лет работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами
				p Жанна умеет объяснить важные и сложные вещи простым языком. Жанну по праву можно назвать психологом, который говорит чётко, просто, понятно и при этом гениально
				p Более 2,5 тысяч женщин прошли через личные консультации Жанны и получили свои результаты. Поэтому Жанну можно назвать другом, поддержкой и опорой женщин.
			.clfix
		img(src="img/divider.png", alt="Разделитель").divider