section#bonus_4
	.container.wow.fadeIn(data-wow-duration="3s" data-wow-offset="20")
		.col-3_left
			p.bonus БОНУС 
		.col-mid
			.col_inner
		.col-3_right
			p.secrets_block
				span.secrets Система «нет конфликт»
				small Как остановить бесконечные претензии и выяснения отношений		
		.clfix
		.subscribe_block.wow.flipInX(data-wow-offset="250")#bonus_4_form
				h3 Хотите узнать как получить предложение о замужестве и понять в каких случаях  мужчина не собирается делать предложение?
				h4.date.wow.pulse(data-wow-duration="2s" data-wow-delay="4" data-wow-iteration="infinite" data-wow-offset="250") С 20 ПО 25 НОЯБРЯ
				h3 Зарегистрируйтесь на онлайн-интенсив сейчас и будьте вместе с нами 5 вечеров
				form(action="")._form
					input(type="email" placeholder="Введите Вашу почту" id="email_2")
					input(type="submit" value="ЗАПИСАТЬСЯ" id="submit_2")