section#bonus_4
	.container.wow.fadeIn(data-wow-duration="3s" data-wow-offset="20")
		.col-3_left
			p.bonus БОНУС 
		.col-mid
			.col_inner
		.col-3_right
			p.secrets_block
				span.secrets Система «нет конфликт»
				small Как остановить бесконечные претензии и выяснения отношений		
		.clfix
		.subscribe_block.wow.flipInX(data-wow-offset="250")#bonus_4_form
			h3 Хотите узнать как получить предложение о замужестве и понять в каких случаях  мужчина не собирается делать предложение?
				h4.date.wow.pulse(data-wow-duration="2s" data-wow-delay="4" data-wow-iteration="infinite" data-wow-offset="250") С 20 ПО 25 НОЯБРЯ
				h3 Зарегистрируйтесь на онлайн-интенсив сейчас и будьте вместе с нами 5 вечеров
				form(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="results")._form
					input(class="field_value mail" maxlength="255" name="Contact[email]" type="text" placeholder="Введите вашу почту")
					button(type="submit").button ЗАПИСАТЬСЯ
					<!--Обязательный параметр. Не удалять и не изменять!-->
					input( type="hidden" value="233" name="Contact[id_newsletter]")
					<!--API код канала рекламы-->
					input(type="hidden" value="0" name="Contact[id_advertising_channel_page]")
					.clfix
					small.spam(data-class="politics") Политика конфиденциальности