section#certificates
	.container
		.certificates_wrapper.wow.bounceIn(data-wow-duration="1s" data-wow-offset="150")
			.middle
				.middle_row
					a(href="javascript: void(0);")(data-id="modal_2").more
						img(src="img/cert_2.png", alt="Сертификат 2 миниатюра")
					.popup_back#modal_2
						.popup_inner
							img(src="img/certificate_2.jpg", alt="Сертификат 2")
							a(href="javascript: void(0);").close
					a(href="javascript: void(0);")(data-id="modal_3").more.middle_link
						img(src="img/cert_3.png", alt="Сертификат 3 миниатюра")
					.popup_back#modal_3
						.popup_inner
								img(src="img/certificate_3.jpg", alt="Сертификат 3")
								a(href="javascript: void(0);").close
					a(href="javascript: void(0);")(data-id="modal_5").more
						img(src="img/cert_5.png", alt="Сертификат 5 миниатюра")
					.popup_back#modal_5
						.popup_inner
							img(src="img/certificate_5.jpg", alt="Сертификат 5")
							a(href="javascript: void(0);").close
					

					.clfix
				.middle_row
					a(href="javascript: void(0);")(data-id="modal_4").more
						img(src="img/cert_4.png", alt="Сертификат 4 миниатюра")
					.popup_back#modal_4
						.popup_inner
							img(src="img/certificate_4.jpg", alt="Сертификат 4")
							a(href="javascript: void(0);").close
					a(href="javascript: void(0);")(data-id="modal_6").more.middle_link
						img(src="img/cert_6.png", alt="Сертификат 6 миниатюра")
					.popup_back#modal_6
						.popup_inner
							img(src="img/certificate_6.jpg", alt="Сертификат 6")
							a(href="javascript: void(0);").close
					a(href="javascript: void(0);")(data-id="modal_7").more
						img(src="img/cert_7.png", alt="Сертификат 7 миниатюра")
					.popup_back#modal_7
						.popup_inner
							img(src="img/certificate_7.jpg", alt="Сертификат 7")
							a(href="javascript: void(0);").close
					.clfix
			.left
				a(href="javascript: void(0);")(data-id="modal_1").more
					img(src="img/cert_1.png", alt="Сертификат 1 миниатюра")
				.popup_back#modal_1
					.popup_inner
						img(src="img/certificate_1.jpg", alt="Сертификат 1")
						a(href="javascript: void(0);").close
			.right
				a(href="javascript: void(0);")(data-id="modal_8").more
					img(src="img/cert_8.png", alt="Сертификат 8 миниатюра")
				.popup_back#modal_8
					.popup_inner
						img(src="img/certificate_8.jpg", alt="Сертификат 8")
						a(href="javascript: void(0);").close
		.clfix