section#certificates
	.container
		.certificates_wrapper
			.left
				a(href="javascript: void(0);")
					img(src="img/cert_1.png", alt="Сертификат 1")
			.middle
				.middle_row
					a(href="javascript: void(0);")
						img(src="img/cert_2.png", alt="Сертификат 2")
					a(href="javascript: void(0);")
						img(src="img/cert_3.png", alt="Сертификат 3")
					a(href="javascript: void(0);")
						img(src="img/cert_4.png", alt="Сертификат 4")
					.clfix
				.middle_row
					a(href="javascript: void(0);")
						img(src="img/cert_5.png", alt="Сертификат 5")
					a(href="javascript: void(0);")
						img(src="img/cert_6.png", alt="Сертификат 6")
					a(href="javascript: void(0);")
						img(src="img/cert_7.png", alt="Сертификат 7")
					.clfix
			.right
				a(href="javascript: void(0);")
					img(src="img/cert_8.png", alt="Сертификат 8")
		.clfix