// Восьмой экран
section#eighth_screen
	.container
		h4 День 5
		ol.day_5_ol
			li
				span Как правильно просить помощь и подарки. В каких случаях Вам обязательно откажут?
			li
				span Как говорить так, чтобы с первого раза мужчина Вас услышал?
			li
				span О чем говорить и как вести себя с мужчинами? Какие темы и поведение под запретом?
			li
				span Как стать любимой и любящей и при этом не «расплескать» себя. Откуда берется страх отношений и как мы через собственные страхи саботируем собственное счастье
			li
				span Как стать той женщиной, на которой женятся 
			li
				span 10 приемов для создания качественных отношений 