footer#footer
	.container
		form(action="").footer_form
			input(type="email" placeholder="Введите Вашу почту" id="email")
			input(type="submit" value="ЗАПИСАТЬСЯ" id="submit")
			.clfix
			p Зарегистрироваться сейчас и получить бонус!