#how
	.container
		h4 Как все будет
		img(src="img/divider.png", alt="Разделитель 3").divider
		.row
			.col-5
				img(src="img/check-form.jpg", alt="Регистрация")
				h5 Регистрация
				p Необходимо заполнить форму
			.col-5
				img(src="img/play.jpg", alt="Получить свой бонус")
				h5 Получить свой бонус
				p Мгновенно после регистрации, на указанный Вами e-mail адрес придет письмо с бонусным видео-уроком, внимательно проверьте все папки в почте и найдите наше ценное письмо
			.col-5
				img(src="img/clock-circular.jpg", alt="Когда будет интенсив")
				h5 Когда будет интенсив
				p  Онлайн-интенсив стартует 20 Ноября 2017 года и будет идти 5 дней подряд, онлайн-встречи каждый день будут начинаться в 19:00 по МСК
			.col-5
				img(src="img/female-user.jpg", alt="Как участвовать?")
				h5 Как участвовать?
				p Каждый день Вы будите получать письмо со ссылкой для входа в вебинарую комнату
			.col-5
				img(src="img/credit-cards.jpg", alt="Сколько это стоит?")
				h5 Сколько это стоит?
				p Участие онлайн не требует оплаты!
		.clfix