// Меню
#menu_icon
		span.upper_span
		span.middle_span
		span.lower_span
nav#menu
	
	.container
		ul.menu_ul
			li
				a(href="#third_screen") Вам это знакомо?
			li
				a(href="#plan") План интенсива
			li
				a(href="#author") Об авторе
			li
				a(href="#guestess") Гостья интенсива
			li
				a(href="#you_get") Что Вы получите
			li
				a(href="#must_go") Стоит придти, если
			li
				a(href="#how") Как все будет
			li
				a(href="#") Отзывы
