section#must_go_block
	.container
		h4 Вам стоит придти, если Вы хотите:
		img.divider(src="img/divider.png", alt="Разделитель 3")
section.mail_block
	.container
		.subscribe_block.wow.flipInX(data-wow-offset="250")
				h3 Хотите знать, что важно делать, чтобы отношения укреплялись, а не разрушались?
				h4.date.wow.pulse(data-wow-duration="2s" data-wow-delay="4" data-wow-iteration="infinite" data-wow-offset="250") С 20 ПО 25 НОЯБРЯ
				h3 будьте вместе с нами на онлайн-интенсиве «О чем молчат мужчины»!
				form(action="")._form
					input(type="email" placeholder="Введите Вашу почту" id="email_2")
					input(type="submit" value="ЗАПИСАТЬСЯ" id="submit_2")