section#must_go_block
	.container
		h4 Вам стоит придти, если Вы хотите:
		img.divider(src="img/divider.png", alt="Разделитель 3")
		#must_go_bullet
			.row
				ul.must_go_ul
					li 
						img(src="img/bull_1.jpg", alt="1")
						span Понять как привлечь мужчину
					li 
						img(src="img/bull_2.jpg", alt="2")
						span Узнать как выйти замуж
					li 
						img(src="img/bull_3.jpg", alt="3")
						span Осознать что нужно для того, чтобы создать семью
			.row
				ul.must_go_ul
					li 
						img(src="img/bull_4.jpg", alt="4")
						span Увидеть как стать для него единственной
					li 
						img(src="img/bull_5.jpg", alt="5")
						span Перейти из любовницы в жену
					li 
						img(src="img/bull_6.jpg", alt="6")
						span Узнать как выбрать для себя наилучшего мужчину
					.clfix
			.row
				ul.must_go_ul
					li 
						img(src="img/bull_7.jpg", alt="7")
						span Научиться принимать и получать подарки
					li 
						img(src="img/bull_8.jpg", alt="8")
						span Научиться просить подарки без «открытых» просьб
					li 
						img(src="img/bull_9.jpg", alt="9")
						span Узнать как расстаться с мужчиной и остаться друзьями
					.clfix
			.row
				ul.must_go_ul
					li 
						img(src="img/bull_10.jpg", alt="10")
						span Научиться не рассчитывать только на себя
					li 
						img(src="img/bull_11.jpg", alt="11")
						span Научиться получать помощь так, чтобы люди сами хотели помогать
					li 
						img(src="img/bull_12.jpg", alt="12")
						span Научиться «считывать» его мысли и посылы
					.clfix
			.row
				ul.must_go_ul
					li 
						img(src="img/bull_13.jpg", alt="13")
						span Узнать в чем разница мужской и женской психологии
					li 
						img(src="img/bull_14.jpg", alt="14")
						span Понять как привлечь мужчину
					li 
						img(src="img/bull_15.jpg", alt="15")
						span Узнать, что мужчина не будет делать никогда и что никогда не оценит
					.clfix
			.row
				ul.must_go_ul
					li
					li 
						img(src="img/bull_16.jpg", alt="16")
						span Узнать секрет: что все-таки значит «женщина мечты». Какая она и что для этого надо делать
					li
section.mail_block
	.container
		.subscribe_block.wow.flipInX(data-wow-offset="250")
			h3 Хотите знать, что важно делать, чтобы отношения укреплялись, а не разрушались?
			h4.date.wow.pulse(data-wow-duration="2s" data-wow-delay="4" data-wow-iteration="infinite" data-wow-offset="250") С 20 ПО 25 НОЯБРЯ
			h3 будьте вместе с нами на онлайн-интенсиве «О чем молчат мужчины»!
			form(action="")._form
				input(type="email" placeholder="Введите Вашу почту" id="email_2")
				input(type="submit" value="ЗАПИСАТЬСЯ" id="submit_2")