#video_testimonials
	.container
		h4 Отзывы
		img.divider(src="img/divider.png", alt="Разделитель 6")
		.wrapper.left
			.video(data-youtube="NiAryie74TU")
				img.img-thumbnail.video__img(src="img/meet.jpg", alt="Видео")
		.wrapper.right
			.video(data-youtube="NiAryie74TU")
				img.img-thumbnail.video__img(src="img/meet.jpg", alt="Видео")
		.clfix