#video_testimonials
	.container
		h4 Отзывы
		img.divider(src="img/divider.png", alt="Разделитель 6")
		.video_wrapper
			.wrapper.left
				.video(data-youtube="R5TzDRh_0wo")
					img.img-thumbnail.video__img(src="img/testimonial_1.jpg", alt="Видео 1")
			.wrapper.right
				.video(data-youtube="0kVF73Zl2Vg")
					img.img-thumbnail.video__img(src="img/testimonial_2.jpg", alt="Видео 2")
		.clfix