section#you_get_bullets
	.container
		h4 Что Вы получите?
		img(src="img/divider.png", alt="Разделитель").divider
		.left
			h5 Осознаете
			p 
				span  Почему не получается встретить достойного мужчину
			p 
				span  Почему он не проявляет заботу о Вас и не берет ответственность за Вас
			p 
				span  Почему он не женится
			p 
				span  Почему мужчина задерживается на работе и не хочет проводить время с семьей
			p 
				span  Как стать той единственной и желанной
		.middle
			h5 Научитесь
			p 
				span  Быть привлекательной именно для него
			p 
				span  Продливать сексуальное влечение на долгие годы
			p 
				span  Быть женщиной, о которой мечтают

		.right
			h5 Узнаете
			p 
				span  Почему он не зарабатывает денег
			p 
				span  Почему мужчины изменяют 
			p 
				span  Как избежать конкуренции в женской среде
			p 
				span  Какие подарки мужчины не дарят никогда 
			p 
				span  Почему с годами сексуальное влечение ослабевает
		.clfix
		img(src="img/girl.png", alt="Девушка")#girl
