section#you_get_bullets
	.container
		h4 Что Вы получите?
		img(src="img/divider.png", alt="Разделитель").divider
		.left
			h5 Осознаете
			p 
				span  Почему не получается встретить достойного мужчину
			p 
				span  Почему он не проявляет заботу о Вас и не берет ответственность за Вас
			p 
				span  Почему он не женится
			p 
				span  Почему мужчина задерживается на работе и не хочет проводить время с семьей
			p 
				span  Как стать той единственной и желанной
		.middle
			h5 Научитесь
			p 
				span  Быть привлекательной именно для него
			p 
				span  Продливать сексуальное влечение на долгие годы
			p 
				span  Быть женщиной, о которой мечтают

		.right
			h5 Узнаете
			p 
				span  Почему он не зарабатывает денег
			p 
				span  Почему мужчины изменяют 
			p 
				span  Как избежать конкуренции в женской среде
			p 
				span  Какие подарки мужчины не дарят никогда 
			p 
				span  Почему с годами сексуальное влечение ослабевает
		.clfix

section.mail_block
	.container
		img(src="img/girl.png", alt="Девушка")#girl
		.subscribe_block.wow.flipInX(data-wow-offset="250")
				h3 Хотите знать, что важно делать, чтобы отношения укреплялись, а не разрушались?
				h4.date.wow.pulse(data-wow-duration="2s" data-wow-delay="4" data-wow-iteration="infinite" data-wow-offset="250") С 20 ПО 25 НОЯБРЯ
				h3 будьте вместе с нами на онлайн-интенсиве «О чем молчат мужчины»!
				form(action="")._form
					input(type="email" placeholder="Введите Вашу почту" id="email_2")
					input(type="submit" value="ЗАПИСАТЬСЯ" id="submit_2")