section#guestess
	width 100%
	h4
		text-align center
		font-size 34px
		margin-bottom 20px
.guestess_wrapper
	margin 0 auto 35px
	width 91%
	.right
		margin-left 35px
		margin-bottom 35px
.about_evelina
	font-size 17px
	h6
		font-family: 'Andantinoscript', coursive
		font-size 50px
		border-bottom 2px solid grey
		display inline-block
		margin-bottom 20px