section#aurhor
	width 100%
	h4
		text-align center
		font-size 34px
		margin-bottom 20px
.author_wrapper
	margin 0 auto 35px
	width 91%
	.left
		margin-right 35px
.about_janna
	font-size 19px
	h6
		font-family: 'Andantinoscript', coursive
		font-size 50px
		border-bottom 2px solid grey
		display inline-block
		margin-bottom 20px

#academy_logo
	margin-left 60px
.big_letter
	font-family: 'OfficinaSerifExtraBoldC';
	font-size 50px
	line-height: 19px;