#bonus_4
	background-image url(../img/bonus_4_back.jpg)
	background-size contain
	background-repeat no-repeat
	background-attachment scroll
	padding: 28px 0 23px;
	color white
	width 100%
	text-align center
	.container
		padding 0 10px
.col-3_left
	width: 48%;
	text-align: right;
	float: left;
	padding-right 10px
	.bonus
		border: 0;
		padding: 0;
		float: none;
.col-mid
	float: left;
	width: 3%;
	height: 90px;
	padding-top: 20px;
	padding-left 10px

.col_inner
	width: 3px;
	background: #fff;
	height: inherit;
	margin: 0 auto;
.col-3_right
	padding: 0 0 0 10px;
	width: 34%;
	float: left;
	text-align: left;
.secrets_block
	text-align: left;
	padding-top: 4px;
	.secrets
		font-size 30px
		display: inline-block;
		text-transform uppercase
	small
		font-size 20px
		display: inline-block;
		text-transform uppercase
#bonus_4_form
	max-width 77.8%
	margin-top 35px