#certificates
	background-image: url(../img/certificates_back.png)
	background-position: top center
	background-repeat: no-repeat
	background-size cover
	width: 100%
	height: auto
	margin-top: -18px;
	padding: 90px 0 50px
	.certificates_wrapper
		width 95%
		margin 0 auto
	.left,
	.right
		padding-top 15px
.middle
	float: left;
	margin: 0 58px
.middle_row
	&:first-child
		margin-bottom 20px
	a
		float left
		&:nth-child(2)
			margin: 0 20px;