#certificates
	background-image: url(../img/certificates_back.png)
	background-position: top center
	background-repeat: no-repeat
	background-size cover
	width: 100%
	height: auto
	margin-top: -18px;
	padding: 90px 0 50px
	.certificates_wrapper
		width 95%
		margin 0 auto
		position relative
	.left
		position: absolute;
		top: 0;
		left: 0;
		float: none;
		padding-top 15px
	.right
		position: absolute;
		top: 0;
		right: 0;
		float: none;
		padding-top 15px
.middle
	width: 586px
	margin: 0 auto;
	float: none;
.middle_row
	&:first-child
		margin-bottom 20px
	a
		float left
.middle_link
	margin: 0 20px;
.popup_back
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%
	top: 0;
	left: 0;
	z-index: 999999;
	
.popup_inner
	position: absolute;
	left: 0;
	right 0
	z-index: 9999995;
	margin: 0 auto;
	padding: 20px;
	height 90vh
	width auto
	img
		display block
		margin 0 auto
		
		height INHERIT
		width INHERIT
	p:last-child
		padding-bottom 20px
.politics_wrap
	height 90vh
	background-color #fff
	max-width 60%
	overflow-y scroll
.close
	top: 20px;
	right: 8px;
	width: 29px;
	height: 29px;
	position: absolute;
	padding: 0;
	background: url(../img/close.png) 50% no-repeat;
	cursor: pointer;
.politics h3
	font-weight bold