#you_get_bullets
	width: 100%
	height: auto
	text-align center
	.container
		width 785px
		margin 0 auto
		position relative
		h4,
		h5
			font-size 35px
			margin-bottom 20px
			font-weight normal
	.divider
		margin-bottom: 20px;
	.left,
	.middle,
	.right
		width 210px
		p
			background-color #623570
			border-radius 50%
			display table
			padding 10px
			font-size 20px
			margin-bottom 20px
			position relative
			z-index 99
			span
				display table-cell
				vertical-align middle
				color white
				border-radius 50%
				border 2px dashed
				width inherit
				height 190px
				padding: 0 20px;
	.middle
		margin 0 77px
		float left
#girl
	position: absolute;

	left: 0;

	bottom: 176px;

	right: 0;

	display: block;
	z-index 0
	margin: 0 auto;

.mail_block
	background-image: url(../img/mail_block.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size cover
	width: 100%
	min-height: 500px;
	.container
		position relative
	.subscribe_block
		width: 90%;

		color: #fff;

		margin-top: 0;

		position: relative;

		top: 150px;
		.date
			margin-top 10px
		.infront
			margin-bottom 20px

		